@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --easing-mode: linear;
}

#css-viz {
    background: white;
    transition: background-color 2s var(--easing-mode);

    &.active {
        background: #007700;
        transition: background-color 0.5s var(--easing-mode);
    }
}
