@tailwind base;
@tailwind components;
@tailwind utilities;

#css-viz {
    background: white;
    transition: background-color 2s linear;
}

#css-viz.active {
    background: #007700;
    transition: background-color 0.5s linear;
}
